<article class="card" id="will" data-postId="{{willData.id}}">
    <h2 class="title mt-5 text-dark">Edit Will</h2>
    {{!--
    <hr> --}}
    <form class="update-will-form" id="update-form">
        <div class="card text-center">
            <label class="text-dark" for="will-title">Will Title:</label>
            <input class="input" name="will-name" type="text" value="{{title}}" />

            {{!-- <div class="card text-center"> --}}

                <label class="text-dark" for="will-content">Will Items:</label>
                <ul class="list-group">
                    {{#each itemData}}
                    <li class="list-group-item">
                        <input class="textarea w-100" name="will-items" type="text" value="{{content}}" />
                    </li>
                    {{/each}}
                </ul>
                {{!--
            </div> --}}
        </div>
        <div class="is-pulled-right">

        </div>
        <button type="submit" class="button btn btn-primary" id="save-button">Save Post</button>
    </form>
</article>


<script src="/js/editDelete.js"></script>
<script src="/js/items.js"></script>