<div class="row will">
    <div class="row">
        <h1 class="title">
            Welcome to Index Mori, the web's only free bequeathment site.
        </h1>
        <h2 class="subtitle">
            Put graphics n shit here
        </h2>
    </div>
    
</div>