@import "//node_modules/bootstrap/scss/bootstrap";


/* file import */
@import 'variables';
@import 'mixins';
@import 'card';

$primary: #0074d9;
$danger: #ff4136;
$lightgray: #f1f1f1cf;
$blue: #0d6efd;

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

.card_light {
  background-color: $lightgray;
  color: $blue;
}

   
footer {
$fonts: 'Poppins', Helvertica, sans-serif;
$primary-color: #ab99ca;
$spacing: 2rem;
}
// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)
 {
  body {
    background-color: #010101cf;
    // color: #f1f1f1cf !important;
    height: 100%;
 }

// Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-color: #010101cf;
    // color: #f1f1f1cf !important;
    height: 100%;
  }
}}

// Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
  body {
    background-color: #010101cf;
    color: #f1f1f1cf !important;
    height: 100%;
    width: 100vh;
  }
} */

/* // X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
  body {
  background-color: #010101cf;
  color: #f1f1f1cf !important;
  height: 100%;
  width: 100vh;
}} */

/* // XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {
  body {
  background-color: #010101cf;
  color: #f1f1f1cf !important;
  height: 100%;
  width: 100vh;
}} */ 
